<div class="row m-0  category">
    <div class="col-12 p-3 border">
        <h5 class="pt-2">Category</h5>
        <nav>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/home/history" routerLinkActive="active" class="nav-link">Borrow/Request</a>
                    <a routerLink="/home/books" routerLinkActive="active" class="nav-link">Search Books</a>
                    <a routerLink="/home/add-book" routerLinkActive="active" class="nav-link">ADD Book</a>
                </li>
            </ul>
        </nav>
    </div>
</div>